/*margins*/
.margin-t-20 {
  margin-top: 20px;
}

/*paddings*/

/*spacers*/
.v-spacer-15 {
  height: 15px;
}
.v-spacer-20 {
  height: 20px;
}

/*gaps*/
.gap-15 {
  gap: 15px;
}

/*Text colors*/
.txtWhite {
  color: #fff !important;
}

/*Text sizes*/
.title-text {
  font-size: 24px;
  margin: 0px;
}
